*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Container*/
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Title h1*/
.container h1{
  font-size: 35px;
  text-align: center;
  padding-bottom: 5px;
}
/*Input to put the link*/
.input{
  height: 38px;
  border-radius: 8px;
  max-width: 290px;
  width: 100%;
  margin: 24px 0px;
  padding: 8px;
  outline: none;
  border: 1px solid #b6b6b6;
}